*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-image: url();
  background-size: cover;
  font-family: "Roboto Slab", serif;
}

.header {
  padding: 30px 0 50px 0px;
  text-align: center;
}

.header-logo {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding-right: 30px;
}
.hero-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
.hero-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subTitle {
  font-size: 22px;
  font-weight: 450;
}
p .subTitle {
  font-size: smaller;
}
.heroLinks {
  margin-right: 15px;
  font-size: larger;
  text-decoration: none;
  color: red;
}
.yapogibau {
  color: black;
  text-decoration: none;
}
.hero-box {
  width: 525px;
  height: 645px;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  border: 10px solid white;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  animation: anima 5s infinite alternate;
}

@keyframes anima {
  0% {
    border-radius: 30% 70% 36% 64% / 30% 30% 70% 70%;
  }
  40% {
    border-radius: 43% 57% 81% 19% / 19% 48% 52% 81%;
  }
  70% {
    border-radius: 52% 48% 40% 60% / 34% 54% 46% 66%;
  }
  1000% {
    border-radius: 29% 71% 7% 93% / 76% 14% 86% 24%;
  }
}
